<div class="background-new-notice ">
  <div class="bg-gradient-new-notice">
    <div class="form-group margin-top">
      <div class="container-lg margin-top">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="background-white-new-notice">

      <%= simple_form_for @movie do |f| %>
      <%= f.input :name, label: "Titre du film"%>
      <%= f.input :age, collection: Movie::AGES, label: "Tranche d'âge", prompt: "Choissisez un âge" %>
      <%= f.input :category, collection: Movie::CATEGORIES, label: "Catégorie", prompt: "Choissisez une catégorie" %>
      <%= f.input :director, label: "Metteur en scène"%>
      <%= f.input :year, as: :date, start_year: Date.today.year - 100,
                              end_year: Date.today.year,
                              order: [:year], :include_blank => '(All)', label: "Année de sortie"  %>
      <%= f.input :original_title, label: "Quel est le titre original du film" %>
      <%= f.input :language, label: "Dans quelle langue a été tournée le film"%>
      <%= f.input :length, label: "Quelle est la durée du film?" %>
      <%= f.input :pitch, as: :text, label: "Quel est le synopsis?" %>
     <%= f.input :picture, label: "Voulez-vous ajouter une photo?" %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.input :poster, label: "voulez-vous ajouter une affiche?" %>
      <%= f.input :poster_cache, as: :hidden %>
      <%= f.input :trailer, label: "trailer" %>
      <%= f.input :scrap_number, label: "scrap number" %>

      <%= f.button :submit, class: "btn btn-success" %>
      <% if @movie.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    <% end %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
