<body style="background-color: white">
<% content_for :nav, render('shared/navbar_index') %>


<div class="index-banner">

</div>



<div class="container padding-top">


<div class="col-md-12">
<div class=" form-group">
          <%= form_tag movies_path, method: :get do %>

           <div class="form-inline search" >
            <%= label_tag :query, "Titre ou par réalisateur" %>
              <%= text_field_tag :query,
              params[:query],
              class: "form-control"
              %>
              <%= submit_tag "Go!", class: 'button btn' %>
              <%= link_to "clear", movies_path , class: 'button btn'%>
          <%end %>
          </div>
    </div>

           <div class="filters">


<div class="ui-group">
  <h3>Genre</h3>
<div class="button-group js-radio-button-group" data-filter-group="Genre">

            <button data-filter="*" class="button btn"><span>Tous</span></button>
            <button data-filter=".Animation" class="button btn"><span>Animation</span></button>
            <button data-filter=".Science-fiction" class="btn button "><span>Science-fiction</span></button>
            <button data-filter=".Aventure" class="button btn"><span>Aventure</span></button>
            <button data-filter=".Comédie" class="button btn"><span>Comédie</span></button>
            <button data-filter=".Drame" class="button btn"><span>Drame</span></button>
             <button data-filter=".Comédie-musicale" class="button btn"><span>Comédie musicale</span></button>
</div>
</div>

<div class="ui-group">
  <h3>Age</h3>
  <div class="button-group js-radio-button-group" data-filter-group="Age">

            <button data-filter="*" class=" button btn"><span>Tous</span></button>
            <button data-filter=".4" class=" button btn"><span>4</span></button>
            <button data-filter=".5" class=" button btn"><span>5</span></button>
            <button data-filter=".6" class="button btn"><span>6</span></button>
            <button data-filter=".7" class="button btn"><span>7</span></button>
            <button data-filter=".8" class="button btn"><span>8</span></button>
            <button data-filter=".9" class="btn button"><span>9</span></button>
            <button data-filter=".10" class="btn button"><span>10</span></button>
            <button data-filter=".11" class="btn button"><span>11</span></button>
            <button data-filter=".12" class="btn button"><span>12</span></button>
            <button data-filter=".13" class="btn button"><span>13</span></button>
            <button data-filter=".14" class="btn button"><span>14</span></button>
            <button data-filter=".15" class="btn button"><span>15</span></button>



</div>
</div>



           </div>




          </div>
          </div>

  <!-- form to add specific filters and refresh this page -->








  <!-- form to add specific filters and refresh this page -->



  <!-- form to add specific filters and refresh this page -->






<% if params[:query].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films correspondants à votre recherche "<%= params[:query]%>"</strong></p>
  <% if @movies_total_number == 0 %>
  <p class= "text-center">Oups, nous n'avons pas cette référence dans la base &#x1F64A </p>
  <p class= "text-center">Pour nous envoyer vos suggestions <%= link_to "c'est ici", about_path%>.</p>
  <%end%>
  <%if @movies_total_number > 0 %>
  <p class="text-center"> <%= @movies_total_number%></p>
  <%end%>
  <% end %>

<% if params[:search].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films pour les enfants de <%= params[:search]%> ans et moins</strong></p>
<% end %>


<% if params[:find].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films de la catégorie "<%= params[:find]%>"</strong></p>
<% end %>


<div class="container padding-bottom">
  <div class="row">
    <div id="isotope-container">
    <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-4 color-shape <%=movie.category%>  <%= movie.age.upto(15).to_a.join(' ')%> data-age="<%=movie.age%>""">


      <!-- insert <div class="card"> -->



          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale, :alt=>"Image du film #{movie.name}" %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 class="raleway" style= "color: black; margin-bottom: 30px;">Un film de <%=movie.director%></h4>
                  </div>
                  </a>
              </div>
              <div class="card-likes">
              <ul class="list-inline">
                <ul class="list-inline">
                  <li><i class="fa fa-heart red"></i> À partir de <%= movie.age %> ans</li>
                  <li><i class="fa fa-eye green"></i> <%=movie.impressionist_count%>
                  </li>

                </ul>
              </ul>

            </div>

          </div>


    </div>

    <% end %>
</div>


  </div>

  <div class="container text-center margin-top">
  <%= paginate @movies, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered"%>
   </div>

</div>
</div>
</body>
