<body style="background-color: white">
<% content_for :nav, render('shared/navbar_index') %>


<div class="index-banner">

</div>

<div class= "container thousand-one margin-sixty">
  <!-- form to add specific filters and refresh this page -->

<p class="text-justify" id="explain">Vous pouvez chercher <br>par <span>titre</span>, par <span>réalisateur</span>, </br> par <span>catégorie</span> <br/>(comédie, aventure, animation, drame science-fiction, comédie-musicale), </br> ou par <span>âge </span> de l'enfant.</p><br/>

<div class="search-tag">

      <%= react_component("Search") %>


       <!--<div class=" form-group">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :query, "Chercher par titre ou par réalisateur:" %>
           <div class="form-inline search">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control"
              %>
              <%= submit_tag "Go!", class: 'button btn' %>

          <%end %>
          </div>
      </div>

    </div> -->


  <!-- form to add specific filters and refresh this page -->

  <!-- <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :find, "Trier par catégories:"%>
          <div class="form-inline search">
          <%= select_tag :find, options_for_select(Movie::CATEGORIES), include_blank: true, class:"form-control" %>
            <%= submit_tag "Go!", class: 'button btn' %>
          </div>

       <% end %>

      </div>
    </div> -->




          <%= form_tag movies_path, method: :get do %>
          <!--<%= label_tag :age_search, "Trier par âges:"%> -->
          <div class="form-group">
              <%= select_tag :age_search, options_for_select(Movie::AGES), :prompt => "Age",class:"form-control", :onchange=>'this.form.submit();' %>

          </div>

      <% end %>

<%= link_to "Tous les films", movies_path, class:"btn btn-green reset" %>


</div>





</div>

  <!-- form to add specific filters and refresh this page -->


    <p style= "color:white">&#x25BD; </p>

</div>



<!--<div id="results">
<% if params[:query].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films correspondants à votre recherche "<%= params[:query]%>"</strong> </p>

  <% if @movies_total_number == 0 %>
  <p class= "text-center">Oups, nous n'avons pas cette référence dans la base &#x1F64A </p>
  <p class= "text-center">Pour nous envoyer vos suggestions <%= link_to "c'est ici", about_path%>.</p>
  <%end%>
  <%if @movies_total_number > 0 %>
  <p class="text-center"> <%= @movies_total_number%></p>
  <%end%>
  <% end %>

<% if params[:search].present? %>
<p class="text-center margin-top-fifty"> Les films pour les enfants de <span><%= params[:search]%> ans </span> et moins </p>

<% end %>

</div> -->


<br/>
<div class="container padding-bottom">
<% if params[:query].present? %>
    <% if @movies_total_number > 0 %>
        <p class= "text-center">Nombre de résultats correspondant à votre recherche: <%= @movies.count %> </p>
    <% end %>
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->



          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale, :alt=>"Image du film #{movie.name}" %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 >Un film de <%=movie.director%></h4>
                  </div>
                  </a>
              </div>
              <div class="card-likes">
              <ul class="list-inline">
                <ul class="list-inline">
                  <li><i class="fa fa-heart red"></i> À partir de <%= movie.age %> ans</li>
                  <li><i class="fa fa-eye greeny"></i> <%=movie.impressionist_count%>
                  </li>

                </ul>
              </ul>

            </div>

          </div>


    </div>
    <% end %>
    <% if @movies_total_number == 0 %>
      <p class= "text-center">Aucun résultat pour <strong>"<%= params[:query] %>"</strong></p>
      <p class= "text-center"> Envoyez nous vos <%= link_to "suggestions", about_path%>, nous les examinerons avec plaisir!</p>
    <%end%>

    <% end %>




  </div>

  <div class="container text-center margin-top">
  <%= paginate @movies, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered"%>
   </div>

</div>
</body>
