<body style="background-color: white">
<% content_for :nav, render('shared/navbar_home') %>


<div class="index-banner">

</div>

<div class= "container thousand-one text-center margin-sixty">
  <!-- form to add specific filters and refresh this page -->

   <div class= "text-center padding-bottom">
        <%= link_to "Voir tous les films", movies_path , class: "btn btn-white" %>
    </div>


  <div class="row">
    <div class="col-md-4">
       <div class=" form-group">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :query, "Chercher par titre ou par réalisateur:" %>
           <div class="form-inline">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control"
              %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          <%end %>
          </div>
      </div>
    </div>


  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :search, "Trier par âges:"%>
          <div class="form-inline">
              <%= select_tag :search, options_for_select(Movie::AGES), include_blank: true, class:"form-control" %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

      <% end %>
      </div>
    </div>

  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :find, "Trier par catégories:"%>
          <div class="form-inline">
            <%= select_tag :find, options_for_select(Movie::CATEGORIES), include_blank: true, class:"form-control" %>
            <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

       <% end %>
      </div>
    </div>

  </div>


    <p style= "color:white">&#x25BD; </p>

</div>



<% if params[:query].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films correspondants à votre recherche "<%= params[:query]%>"</strong>
  <% if @movies_total_number == 0 %>
  <p class= "text-center">Nous n'avons pas encore cette référence ou ce-tte réalisateur-trice dans la base. Désolés! </p>
  <p class= "text-center">Vous pouvez nous envoyer vos suggestions de films dans la partie <%= link_to "contact", contact_path%>.</p>
  <%end%>
<% end %>

<% if params[:search].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films pour les enfants de <%= params[:search]%> ans et moins</strong></p>
<% end %>


<% if params[:find].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films de la catégorie "<%= params[:find]%>"</strong></p>
<% end %>




<div class="container padding-bottom">
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->



          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale, :alt=>"Image du film #{movie.name}" %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 class="raleway" style= "color: black; margin-bottom: 30px;">Un film de <%=movie.director%></h4>
                </div>
                  </a>
              </div>
              <div class="card-likes">
              <ul class="list-inline">
                <ul class="list-inline">

                <li><i class="fa fa-eye green"></i> <%=movie.impressionist_count(:filter=>:session_hash)%></li>
                <li><p> À partir de <strong><%= movie.age %> ans</strong></p></li>
              </ul>
              </ul>
              </ul>
            </div>

          </div>


    </div>
    <% end %>



  </div>

  <div class="container text-center margin-top">
  <%= paginate @movies, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered"%>
   </div>

</div>
