<body style="background-color: white">
<% content_for :nav, render('shared/navbar_register') %>


<div class="index-banner">


<div class= "container thousand-one text-center margin-hundred">
  <!-- form to add specific filters and refresh this page -->
  <div class="row">
    <div class="col-md-4">
       <div class=" form-group">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :query, "Par titre ou par réalisateur:" %>
           <div class="form-inline">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control"
              %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          <%end %>
          </div>
      </div>
    </div>


  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :search, "Par âges:"%>
          <div class="form-inline">
              <%= select_tag :search, options_for_select(Movie::AGES), include_blank: true, class:"form-control" %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

      <% end %>
      </div>
    </div>

  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :find, "Par catégories:"%>
          <div class="form-inline">
            <%= select_tag :find, options_for_select(Movie::CATEGORIES), include_blank: true, class:"form-control" %>
            <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

       <% end %>
      </div>
    </div>

  </div>
    <div class= "text-center padding-top">
        <%= link_to "Voir tous les films", movies_path , class: "btn btn-green" %>
    </div>
</div>

</div>




<div class="container padding-top">
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->



          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 class="raleway" style= "color: black; margin-bottom: 30px;">Un film de <%=movie.director%></h4>
                </div>
                  </a>
              </div>
              <div class="card-likes">
              <ul class="list-inline">
                <ul class="list-inline">
                <li><i class="fa fa-heart red"></i> 140</li>
                <li><i class="fa fa-eye green"></i> <%=movie.impressionist_count(:filter=>:session_hash)%></li>
                <li><p> À partir de <strong><%= movie.age %> ans</strong></p></li>
              </ul>
              </ul>
              </ul>
            </div>

          </div>


    </div>
    <% end %>



  </div>

</div>
