<body style="background-color: white; width: 100%">
<% content_for :nav, render('shared/navbar') %>
<% content_for(:title) do %>
  <%= @movie.name %>
<% end %>




<h1 class="text-center margin-top-show title"><%=@movie.name%></h1>

<div class= "container margin-top-fifty padding-bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <%= cl_image_tag @movie.poster, width: 400, :alt=>"Affiche du film #{@movie.name}"%>
    </div>
    <div class="show-text col-xs-12 col-sm-6 col-sm-offset-2 col-lg-offset-1 ">
      <p id= "synopsis"><strong>Le synopsis</strong></p>
    <p class="text-justify"><%= @movie.pitch %></p>



        <p><strong>Réalisateur: </strong><%=@movie.director%></p>
        <p><strong>Année de sortie:</strong> <%= @movie.year.strftime("%Y") %></p>
         <% if @movie.original_title.present? %>
        <p><strong>Titre d'origine:</strong> <%= @movie.original_title %></p>
        <%end%>
        <p><strong>V.O:</strong> <%=@movie.language%></p>
        <% if @movie.length.present? %>
        <p><strong>Durée:</strong> <%=@movie.length.strftime("%Hh%M")%></p>
        <%end %>
        <p><strong>À partir de:</strong> <%=@movie.age%> ans</p>



    </div>

  </div>

  <div class="row margin-top-fifty text-center show-text">
      <div>
        <p class="trailer"> <strong>Trailer</strong></p>
        <iframe width="90%" height="460" src="https://www.youtube.com/embed/<%=@movie.trailer%>" frameborder="0" allowfullscreen></iframe>
      </div>



  </div>

<% if @same_director.present? %>
<p class="text-center margin-top-fifty show-text"><strong>Les autres films de <%=@movie.director%></strong></p>
<% @same_director.each do |movie| %>
<div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->



          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 class="raleway" style= "color: black; margin-bottom: 30px;">Un film de <%=movie.director%></h4>
                </div>
                  </a>
              </div>
              <div class="card-likes">
                <ul class="list-inline">
                  <ul class="list-inline">
                    <li><i class="fa fa-heart red"></i> À partir de <%= movie.age %> ans</li>
                    <li><i class="fa fa-eye green"></i> <%=movie.impressionist_count%></li>
                  </ul>
                </ul>
            </div>

          </div>


    </div>
    <% end %>
  <% end %>

</div>




<% if current_user && current_user.admin? %>
    <% if policy(Movie).edit? %>
    <p class="text-center padding-bottom">
    <%= link_to "Modifier le film", edit_movie_path, class: "btn btn-success btn-white", id:"margin-top" %>
    <%end%>
    <% if policy(Movie).destroy? %>
    <%= link_to "Supprimer le film", movie_path, class: "btn btn-success btn-white", id:"margin-top", method: :delete %>
    <%end%>
    </p>
<%end%>

</body>
