 <div id="footer">
    <div class="container">
      <div class="footer-links">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

    </div>

    <div class="footer-link_to margin-right">
    <a href=""><%= link_to "Contact", contact_path%></a>
    <a href=""><%= link_to "Crédits", contact_path%></a>
    <% if current_user && current_user.admin? %>
    <a><%= link_to destroy_user_session_path, method: :delete do %>
                 <%= t(".sign_out", default: "Logout") %> </a>
              <% end %>
    <% else %>
    <a><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></a>
    <% end %>
  </div>
  </div>
