<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>

<div class="home-banner">
  <h1>Super <span>8</span></h1>
    <p>Des films à voir avec ses enfants </p>
     <%= link_to "Trouver un film", movies_path, class: "btn btn-home"%>

</div>


<!-- About -->

<section>

  <div class="container content-box-sm" id="explain">

    <h1><span>What</span> is it <span>?</span></h1>
    <hr>
    <p class="justify text-center"><span>SUPER 8</span> permet de trouver des idées de films à partager avec ses enfants.</br>L'âge est une indication, il dépend de leur sensibilité et de leur intérêt.</br>
    Bonnes scéances !  </p>

  </div>

  </section>




<section id="portfolio-wrapper">
  <div class="container-fluid padding-bottom-20">
    <div class="row no-gutters">
      <div id="home-container">
        <% @random_movies.each do |movie| %>

        <div class="col-md-4">
          <div class="portfolio-item">
            <a href="<%= movie_url(movie)%>">
              <img src="<%= movie.picture%>"  class="img-responsive"alt="<%= movie.name %>">
              <div class="portfolio-item-overlay">
                      <div class="portfolio-item-details text-center">

                        <!-- Item header -->
                        <h3><%= movie.name %></h3>
                        <!-- Item strips -->
                        <span></span>

                        <!-- Item description -->
                        <p><%= movie.director %></p>
                        <br>
                         <p class="icon"><i class="fa fa-heart red">  </i> À partir de <%= movie.age %> ans</p>
                         <p class="icon"><i class="fa fa-eye greeny"></i> <%=movie.impressionist_count%></p>

                      </div>
                    </div>

              </a>
        </div>
      </div>
    <% end %>
      </div>
    </div>
  </div>
</section>

<p class="text-center content-box-lg"> <%= link_to "Voir tous les film", movies_path, class: "btn btn-red" %>
 <% if current_user && current_user.admin? %>
<% if policy(Movie).create? %>


<%= link_to "Créer un film", new_movie_path, class: "btn btn-red btn-white", id:"margin-top" %></p>


<%end%>
<% end %>
</div>

</body>
