<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>

<div class="home-banner">
  <h1>Super <span>8</span></h1>
    <p>Des films à voir avec ses enfants </p>
     <%= link_to "Trouver un film", movies_path, class: "btn btn-home"%>

</div>


<!-- About -->

<section>

  <div class="container content-box-md" id="explain">

    <h1><span>What</span> is it <span>?</span></h1>
    <hr>
    <p class="justify text-center"><span>SUPER 8</span> permet de trouver des idées de films à partager avec ses enfants.</br>L'âge est une indication, il dépend de leur sensibilité et de leur intérêt.</br>
    Bonnes scéances !  </p>



  </div>

  </section>


<div class="container home-view">


  <div class="row">
    <% @random_movies.each do |movie| %>
    <div class="col-xs-12 col-sm-4">

          <div class="card-body">
             <div class="title-card text-center"><p style= "color: #43465b; font-weight: bold; font-family: Raleway; font-size: 18px;"> <%=movie.category%></p>
            </div>
             <div class="card-picture"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
              <%= cloudinary_url movie.picture, height: 300, :crop => :scale %>

             );">

                  <p><%=movie.name %></p>


                  <a href="<%= movie_url(movie) %>" >
                    <div class="card-hover">
                  <h4 class="raleway" style= "color: black; margin-bottom: 30px;">Un film de <%=movie.director%></h4>
                </div>
                  </a>
              </div>
              <div class="card-likes">
              <ul class="list-inline">

                <li><i class="fa fa-heart red"></i> À partir de <%= movie.age %> ans</li>
                <li><i class="fa fa-eye green"></i> <%=movie.impressionist_count%></li>

              </ul>


            </div>

          </div>


    </div>
    <% end %>





</div>
<p class="text-center margin-twenty"> <%= link_to "Voir tous les film", movies_path, class: "btn btn-success btn-white", id:"margin-top" %></p>
 <% if current_user && current_user.admin? %>
<% if policy(Movie).create? %>

<div class="container button-new">
<p class="text-center"> <%= link_to "Créer un film", new_movie_path, class: "btn btn-success btn-white", id:"margin-top" %></p>


</div>


<%end%>
<% end %>
</div>
</body>
