<body style="background-color: white">
<% content_for :nav, render('shared/navbar_register') %>



<div class="index-banner">


<div class= "container thousand-one text-center margin-hundred">
  <!-- form to add specific filters and refresh this page -->
  <div class="row">
    <div class="col-md-4">
       <div class=" form-group">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :query, "Par titre ou par réalisateur:" %>
           <div class="form-inline">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control"
              %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          <%end %>
          </div>
      </div>
    </div>


  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :search, "Par âges:"%>
          <div class="form-inline">
              <%= select_tag :search, options_for_select(Movie::AGES), include_blank: true, class:"form-control" %>
              <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

      <% end %>
      </div>
    </div>

  <!-- form to add specific filters and refresh this page -->

    <div class="col-md-4">
       <div class="form-group raleway">
          <%= form_tag movies_path, method: :get do %>
          <%= label_tag :find, "Par catégories:"%>
          <div class="form-inline">
            <%= select_tag :find, options_for_select(Movie::CATEGORIES), include_blank: true, class:"form-control" %>
            <%= submit_tag "Go!", class: 'btn btn-green' %>
          </div>

       <% end %>
      </div>
    </div>

  </div>
    <div class= "text-center padding-top">
        <%= link_to "Voir tous les films", movies_path , class: "btn btn-green" %>
    </div>
</div>

</div>


<% if params[:query].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films correspondants à votre recherche "<%= params[:query]%>"</strong>
  <% if @movies_total_number == 0 %>
  <p class= "text-center">Nous n'avons pas encore cette référence ou ce-tte réalisateur-trice dans la base. Désolés! </p>
  <p class= "text-center">Vous pouvez nous envoyer vos suggestions de films dans la partie <%= link_to "contact", contact_path%>.</p>
  <%end%>
<% end %>

<% if params[:search].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films pour les enfants de <%= params[:search]%> ans et moins</strong></p>
<% end %>


<% if params[:find].present? %>
<p class="text-center margin-top-fifty"> <strong>Les films de la catégorie "<%= params[:find]%>"</strong></p>
<% end %>

</body>
