<!DOCTYPE html>
<html>
  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="turbolinks-visit-control" content="reload">
    <title><%= content_for?(:title) ? yield(:title) : "Super 8" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.svg'%>


   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,600,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<% if content_for? :nav %>
      <%= content_for :nav %>
    <% elsif content_for? :register %>
      <%= content_for :register%>
    <% else %>
      <%= render '/shared/navbar' %>
    <% end %>


<%= render 'shared/flashes' %>


    <%= yield %>
    <% unless action_name == "search" %>
 <%= render 'shared/footer' %>
 <% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>

  <%= yield(:after_js) %>

  </body>
</html>
